<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!--注入Mapper文件夹中的每一个XML文件，让Mybatis去解析SQL语句-->
    <mappers>
        <mapper resource="Mapper/UserMapper.xml"/>
        <mapper resource="Mapper/MenuMapper.xml"/>
        <mapper resource="Mapper/CustomerMapper.xml"/>
<!--        <mapper resource="Mapper/updateUserRole.xml"/>-->
    </mappers>


</configuration>